{{ with .Site.Params.imagelinks.reading }}
<div>
    <h3 class="imglink-title ">
    Reading now</h3>
    <br/>
    <a href="{{ .link }}" target="_blank" title="{{ .title }}"><img width=100% title="{{ .title }}" src="{{ .image }}"></a>
    </div>
{{ end }}

{{ with .Site.Params.imagelinks.watching }}
<br/>
<div>
    <h3 class="imglink-title ">
    Watching now</h3>
    <br/>
    <a href="{{ .link }}" target="_blank" title="{{ .title }}"><img width=100% title="{{ .title }}" src="{{ .image }}"></a>
    </div>
{{ end }}