<div style="padding: 0px 20px 0px 20px">
<h2><b>Related Posts</b></h2>
<div class="flex">
    {{ range first 2 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
    <div>
    <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.banner | absURL }}" alt="{{ .Title | markdownify }}" style="width:100%;opacity:0.85"></a>
        <div style="padding: 10px 10px 10px 10px">
            <h3><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
            <p>{{ .Description | markdownify }}</p>
        </div>
    </div>
    </div>
    {{ end }}
</div>
</div>
